.user-page{
  margin-top: 2em;
}
.form-wrapper {
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4{
  font-weight: 300;
  margin-bottom: 1em;
}

#column{
  border-right: 1px solid lightgrey;
}

#text-form {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.editor-container {
  height: 50vh;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

#form-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#code-form {
  width: 80%;
  height: 50vh;
}

#code-editor{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login-cta{
  margin-top: 10vh;
  text-align: center;
}

